<mat-sidenav-container class="h-100">
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
        
            <app-content-header 
            [icon]="'check_box_outline_blank'" 
            [title]="'Categorias'" 
            [desc]="'Gestão das categorias'"
            [hideBreadcrumb]="false"
            [hasBgImage]="true" 
            [class]="'pb-4'">
            </app-content-header>

      
        <div fxLayout="row wrap" fxLayoutAlign="center" class="p-2">
                <div fxFlex="100" class="p-2">
                    <p>Hello World!</p>
                </div>
                </div>
    </div>
</mat-sidenav-container>
